html {
    font-family: monospace;
}

.successPopUp {
    /* display: inline-flex; */
    position: absolute;
    padding: 2em 5em;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    display: none;
    background-color: rgb(255, 182, 182);
}

.successPopUp .closeCross {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.089);
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.successPopUp .closeCross::after {
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
}

.successPopUp .closeCross::before {
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 2px;
    transform: rotate(-45deg);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper input {
    margin: 1em 0;
    padding: 0.5em 1em;
}

.activeDone {
    display: block;
    background-color: #2cbd00;
}

.activeFail {
    display: block;
    background-color: #ac0000;
}